* {box-sizing: border-box;}

body { 
    width:100%;
  padding:0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x:hidden;
}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 33px 0px 0px 0px;
  height:200px;
  display:block;
}

.header a {
  float: center;
  color: green;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px; 
  line-height: 50px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 40px;
  font-weight: bold;
  text-align:left;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.5);
  color: white;
}

.header-center {
  float: center;
  padding-right:70px
  font-size: 60px;
  color:green;
  width:100%;
}

.bg-image ,img{
  background: url("images/img/agri-back.jpeg");
  height: 100vh; 
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(76,175,80); 
  background-color: rgba(0,0,0, 0.5); 
  color: green;
  font-weight: bold;
  font-size:20px;
  border: 1px solid rgba(250,250,250, 0.4);
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 18px;
  text-align: center;
  word-spacing: 4px;
  letter-spacing: 4px;
  height:350px;
}


.greenbtn{
    width:200px;
    padding:12px;
    background-color: #4CAF50;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}
 
.greenbtn a{
	display: inline-block;
	width: 200px;
	height: 65px;
	cursor: pointer;
	font-size: 30px;
	color: #ffffff;
	line-height: 35px;
        padding:14px;
	margin-right: 21px;
	margin-bottom: 5px;
}

.greenbtn a:hover {
  background-color:yellow;
  
}


/* potfolio section*/
.main {
  max-width: 1000px;
  margin: auto;
   background-color:#434833;
}

.row {
  margin: 8px -16px;
    background-color: #ffffff;
  padding: 20px;
  font-family: Arial;
  
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 15px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  height: 400px;
}
 

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}
h3{
border:2px solid black; 
text-align:center;
padding:10px;
}
/* Content */
.content {
  background-color: white;
  padding: 5px;
  
}

/*About section*/



.row-abt {
  margin: 0;
  background-color: lightcyan;
  padding: 0px;
  font-family: Arial;
  
}



.col-abt {
  float: left;
  width: 50%;
  height: 100%;
  padding: 0px;
}

.row-abt:after {
  content: "";
  display: table;
  clear: both;
}
h3{
border:none; 
text-align:left;
padding:10px;
}
par1,par2{
    text-align:center;
}
.contents1 {
  background-color: lightcyan;
  padding: 15px 10px 5px 10px;
  
}

.hr1{
    width:180px;
    border-right:2px solid green;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: -2.5em;
    margin-block-end: 2.5em;
    margin-inline-start: auto;
    margin-inline-end: 7px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* different section*/


.row-dif {
  margin: 0;
  background-color: #ffffff;
  padding: 0px;
  font-family: Arial;
  
}

.col-dif {
  float: left;
  width: 50%;
  height: 100%;
  padding:0px;
}

.row-dif:after {
  content: "";
  display: table;
  clear: both;
}
h3{
border:none; 
text-align:left;
padding:10px;
}
par3,par4,par5{
    text-align:center;
}
.contents2 {
  background-color: white;
  padding: 15px 10px 0px 10px;
  
}

.hr2{
    width:160px;
    border-right:2px solid green;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: -2.5em;
    margin-block-end: 2.5em;
    margin-inline-start: auto;
    margin-inline-end: 7px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
    font-weight: bold;
}


/* contact section */
h2-con {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 10px;
}

input[type=send] {
  background-color: #E7A334;
  color: #000000;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width:100%;
  text-align: center;
  font-family: bold;
}

input[type=send]:hover {
  background-color:#4CAF50 ;
}

.row2{
  border-radius: none;
  background: #4CAF50;
  padding: 20px;
  width:100%;
  height:100%;
  font-size:18px;
  font-weight:normal;
  margin: 0;
  font-family: Arial;
}

/* Create two columns that float next to eachother */
.columna {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 10px;
  height:100%;
  
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}


.columnb:after {
  content: "";
  display: table;
  clear: both;
}
.row1{
  float: left;
  padding: 0px;
  width: 100%;
  height: 200px;
  margin-bottom: 2px;
}
.row-par1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.row-par2{
  float: left;
  width: 100%;
  height: 230px;
  margin:0;
  
}
.row-par3{
  float: left;
  width: 100%;
  height: 100px;
  
}
.h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: -0.8em;
    margin-block-end: -0.17em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

icon-bar{
    width:100%;
}
 
.icon-bar a{
	display: inline-block;
	width: 53px;
	height: 65px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50%;
 
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
        padding:14px;
	margin-right: 21px;
	margin-bottom: 5px;
}

.icon-bar a:hover {
  background-color: #000;
}

.footer{
    text-align:center;
    background:rgba(76,175,80,0.5);
    position:absolute;
    width:100%;
    height:250px;
    padding-top:15px;
}

.H5{ 
    width:100%;
    color: white;
    display: inline-block;
    font-size: 1.02em;
    margin-block-start: 1.5em;
    margin-block-end: -0.67em;
    margin-inline-start: 0px;
    margin-inline-end: auto;
    font-weight: bold;
    float: left;
}
.h6 {
     width:100%;
    color:white;
    display: inline-block;
    font-size: 1.2em;
    margin-block-start: 1.5em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: auto;
    font-weight: bold;
    float:right;
}


@media  screen and (max-width: 425px) {
     .header a {
    float: none;
    display: block;
    text-align: left;
     }
    .header{
   height:100%;
   width:100%;
  }
  
  .header-center {
    float: none;
   text-align:left;
   width:100%;
        
  }
  .column {
    width: calc(100%-100px);
  }
  .bg-text{
      width:100%;
      float:left;
      font-size:20px;
      transform:translate(-50%,40%);
  }
  
   input[type=send],
   input[type=text] ,input[type=submit],textarea{
    width: 100%;
    margin-top: 0;
    
    
  }
  .row2{
      height:100%;
      width:100%;
      padding:0;
      margin:auto;
  }
  .icon-bar {
      text-align:center;
      width: 100%;
      text-align:center;
      bottom: -20%;
      left:50%;
  }
  
  .col-abt{
    width:100%;
    margin:auto;
    padding:0;
    overflow-x:hidden;
    height:100%;
    
  }
  
  .col-dif{
    width:100%;
    margin:auto;
    height:100%;
    padding:0;
    overflow-x:hidden;
  }

  .row-abt{
      width:100%;
      margin:auto;    
      overflow-x:hidden;
      height:100%;
  
       .row-dif{
      width:100%;
      margin:auto;    
      overflow-x:hidden;
      height:100%;
  }
  .columna{
      float:none;
      width:100%;
      height:100%;
      padding:0;
      margin:auto;
      
  }
  
  .row-par1,.row-par2,.row-par3{
      width:100%;
      padding:0;
      margin:auto;
      height:400px;
  }
  footer{
      font-size:30px;
      width:100%;
  }
  
}


@media  screen and (max-width: 768px) {

  .column {
    width: 33.33%;
  }
  .bg-text{
      width:50%;
      float:left;
      font-size:20px;
      transform:translate(-50%,-60%);
  }

  .columna{
      float:none;
      width:50%;
      height:100%;
      padding:0;
      margin:auto;
      
  }


@media  screen and (max-width: 1024px) {

  .column {
    width: 33.33%;
  }
  .bg-text{
      width:50%;
      float:left;
      font-size:20px;
      transform:translate(-50%,-100%);
      bottom:-7px;
  }
  .col-dif{
      width:50%;
      height:65vh;
  }
  .col-abt{
      width:50%;
      height:65vh;
  }
  .columna{
      float:none;
      width:50%;
      height:100%;
      padding:0;
      margin:auto;
      column-gap: 10px;
    } 

}
@media  screen and (max-width: 1322px) {
     .bg-text{
      width:50%;
      float:left;
      font-size:20px;
      transform:translate(-50%,-100%);
      bottom:23px;
  }
  .columna{
      width:50%;
  }
    
}